body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
canvas {
    position: absolute;
    z-index: 10;
}
video {
    width: 80%;
    border-radius: 10px;
}
